.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.mainFrame {
}
.logo {
  float: left;
  left: 5px;
  top: 5px;
}
.menu {
  float: right;
  left: 5px;
  top: 5px;
}
.menu h3 {
  float: left;
  left: 5px;
  top: 5px;
  padding: 5px;
}
.content {
}
.browse {
  border: 1px solid yellow;
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.browse-menu {
  border: 1px solid brown;

}
.typeSelect a {
  padding: 5px;
}
.listTile a {
  padding: 5px;
}
.orderBy a {
  padding: 5px;
}
.typeSelect {
  float: left;
  padding: 5px;
  border: 1px solid black;
}
.listTile {
  float: left;
  padding: 5px;
  border: 1px solid black;
}
.orderBy {
  float: left;
  padding: 5px;
  border: 1px solid black;
}
.ItemList {
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.listItem {
  width: 100%;
  border: 1px solid green;
  clear: center;
}
.listItem img {
  float: left;
}
.listItem {
  width: 100%;
  border: 1px solid green;
  clear: center;
}
.userSmol {
  float: left;
  border: 1px solid blue;
  align-self: top;
  width: 45%;
}
.userSmol p {
  font-size: 8pt;
}
.distance {
  border: 1px solid red;
  float: right;
  width: 45%
}
.distance img {
  float: left;
}
.distance h1 {
  float: right;
}
